// Values Copy-pasted from Figma

.header {
  padding-top: 40px;
}

.subtitle {
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;

  color: #BFBEC5;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 43px;
  /* identical to box height */
  letter-spacing: -0.02em;

  color: #110252;
}