@import '_variable';

@font-face {
    src: url("/assets/fonts/Circular_Std.woff");
    font-family: Circular Std;
}

body {
    font-family: Circular Std;
}

a {
    color: $danger;
    text-decoration: underline;
}

