.profile-container {
  margin-right: 20px;
  padding-left: 20px;
  
  position: relative;
}

.profile-container.collapsed {
  margin-right: 20px;
  padding-left: 15px;
}

.profile-container.selected {
  padding-left: 0;
  background-color: $white;
  border-radius: 0 10px 10px 0;
}

.profile-component {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 65px;
  position: relative;
  width: 220px;

  cursor: pointer;

  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-left: 10px;

    .name {
      font-family: "Circular Std";
      font-weight: 500;
      font-size: 16px;
      color: $white;
    }

    .btn-details {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      border: 0;
      padding: 0;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 10px;
      }
    }

    .network {
      font-weight: 500;
      font-size: 13px;
      color: $blue-500;
    }
  }
}

.profile-component.selected {
  margin-left: 20px;

  .name {
    color: $blue;
  }

  .btn-details {
    background-color: transparent;
  }
}

.profile-component.selected.collapsed {
  margin-left: 15px;

  .info {
    display: none;
  }
}

.profile-component.collapsed {
  padding: 10px 10px 10px 22px;
  border: 0;
  background-color: transparent;

  .info {
    margin-left: 7px;

    .btn-details {
      width: 17px;
      height: 17px;

      img {
        width: 7px;
        margin-bottom: 2px;
      }
    }
  }
}

.profile-image {
  background-image: url('/assets/icon/avatarBg.png');
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 15px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
}

.profile-image.selected {
  background-image: url('/assets/icon/avatarBg_selected.png');
}
